!!! 5
%html
	%head
		%meta{charset: "utf-8"}
		%meta{content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
		%meta{property: "og:title", content: "#{data.config.title}"}
		%meta{property: "og:url", content: "http://retinamacapps.com"}
		%meta{property: "og:type", content: "website"}
		%meta{property: "og:image", content: "http://retinamacapps.com/images/Icon-72@2x.png"}
		%meta{property: "fb:admins", content: "1082730090,1325850192"}
		%meta{property: "og:description", content: "#{data.config.description}"}
		%meta{name: "description", content: "#{data.config.description}"}
		%meta{name: "viewport", content: "width=device-width, maximum-scale=1.0"}

		%title= data.page.title || data.config.description + " - " + data.config.title

		%script{type: "text/javascript", src: "//use.typekit.net/jvy7zhz.js"}
		%script{type: "text/javascript"}
			try{Typekit.load();}catch(e){}

		= stylesheet_link_tag "normalize", "reveal", "all"
		%link{rel: "stylesheet", type: "text/css", href: "http://cdn-images.mailchimp.com/embedcode/slim-081711.css"}
		%link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/images/Icon-72@2x.png"}
		%link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/images/Icon@2x.png"}
		%link{rel: "shortcut icon", href: "/favicon.png", type: "image/png"}

	%body{class: "#{page_classes}"}
		= partial "shared/header"

		= yield

		= partial "shared/footer"
		= partial "shared/_newsletterModal"
		= partial "shared/_submissionModal"

		%script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		= javascript_include_tag  "all"
		%script{type: "text/javascript"}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-4881230-16']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
