!!! 5
%html
	%head
		%meta{charset: "utf-8"}
		%meta{content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}

		%title= data.page.title || "Retina Mac Apps"

		%script{type: "text/javascript", src: "//use.typekit.net/jvy7zhz.js"}
		%script{type: "text/javascript"}
			try{Typekit.load();}catch(e){}

		= stylesheet_link_tag "normalize", "all"
		%link{rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon"}


	%body{class: "#{page_classes}"}
		= partial "shared/_header"

		= yield

		= partial "shared/_footer"

		= javascript_include_tag  "all"