---
layout: false
---
- search = request.params.search.downcase
- found_alpha = []
- found_match = []
- data.apps.each do |a|
  - name = a.name.downcase
  - if /#{search}/.match(name)
    - if search.length === 1 and search === name[0]
      - found_alpha.push(a)
    - else
      - found_match.push(a)
- found_alpha = found_alpha.sort_by { |a| a[:name] }
- found_match = found_match.sort_by { |a| a[:name] }
- found = found_alpha + found_match
%ul#app-list
  - found.each do |a|
    %li{class: "app-item #{a.shortname}"}  
      %a{href: "#{a.downloadURL}", class: "application", title: "Download #{a.name}"}
        %img{src: "/images/apps/#{a.shortname}.png", alt: "#{a.name}", title: "#{a.name}", width: 256, height: 256}
      %h3
        %a{href: "#{a.downloadURL}", class: "application-name", title: "Download #{a.name}"}= a.name
      %a{href: "#{a.developerURL}", class: "developer", title: "Visit #{a.developer}", target: "_blank"}= a.developer
