---
layout: false
---
%ul#app-list
  - sorted = data.apps.sort_by { |a| [a[:category], a[:name]] }
  - category = ""
  - sorted.each do |a|
    - if category != a.category
      - category = a.category
      %li{class: "app-category"}= category
    %li{class: "app-item #{a.shortname}"}
      %a{href: "#{a.downloadURL}", class: "application", title: "Download #{a.name}"}
        %img{src: "/images/apps/#{a.shortname}.png", alt: "#{a.name}", title: "#{a.name}", width: 256, height: 256}
      %h3
        %a{href: "#{a.downloadURL}"}= a.name
      %a{href: "#{a.developerURL}", class: "developer", target: "_blank"}= a.developer