#colophonModal.reveal-modal
  #colophon
    %h1 Colophon
    %p Retina Mac Apps is a curated list of Mac applications that support the gorgeous new Retina Display. Wells is a designer, Ian is a software engineer, and Alex is something else.

    %h2 Software
    %ul
      %li 
        = link_to "Ruby", "http://www.ruby-lang.org/en/", target: "_blank", title: "Ruby"
      %li
        = link_to "Middleman", "http://middlemanapp.com", target: "_blank", title: "Middleman"
      %li
        = link_to "Modernizr", "http://modernizr.com", target: "_blank", title: "modernizr"
      %li
        = link_to "Retina.js", "http://retinajs.com", target: "_blank", title: "Retina.js"
      %li 
        = link_to "Mailchimp", "http://mailchimp.com", target: "_blank", title: "Mailchimp"
      %li 
        = link_to "wufoo", "http://wufoo.com", target: "_blank", title: "wufoo"
      %li 
        = link_to "Sublime Text 2", "http://www.sublimetext.com", target: "_blank", title: "Sublime Text 2"
      %li
        = link_to "Photoshop CS6", "http://www.adobe.com/products/creativecloud.html", target: "_blank", title: "Photoshop CS6"
      %li 
        = link_to "Github", "http://github.com", target: "_blank", title: "Github"

    %h2 Typography
    %ul
      %li 
        = link_to "Source Sans Pro (Adobe)", "http://sourceforge.net/projects/sourcesans.adobe/", target: "_blank", title: "Source Sans Pro (Adobe)"
      %li 
        = link_to "Typekit", "http://typekit.com", target: "_blank", title: "Typekit"

    %p 
      Problems? Let us know. 
      = link_to "info@retinamacapps.com", "mailto:info@retinamacapps.com", title: "info@retinamacapps.com"


  %a.close-reveal-modal ×
	