/ #mc_embed_signup
/   %form#mc-embedded-subscribe-form.validate{action: "http://wellsriley.us2.list-manage.com/subscribe/post?u=d92ccd73bbf8abf30934ffa38&amp;id=352a23ffd1", action: "", method: "post", name: "mc-embedded-subscribe-form", target: "_blank"}
/     %label{for: "mce-EMAIL"} Subscribe to our mailing list
/     %input#mce-EMAIL.email{type: "email", value: "", name: "EMAIL", placeholder: "email address"}
/     .clear
/     %input#mc-embedded-subscribe.button{type: "submit", value: "Subscribe", name: "subscribe"}

%article#main-content
  %ul#app-list
    - data.apps.each do |a|
      %li{class: "app-item #{a.shortname}"}
        %a{href: "#{a.downloadURL}", class: "application", title: "Download #{a.name}"}
          %img{src: "/images/apps/#{a.shortname}.png", alt: "#{a.name}", title: "#{a.name}", width: 256, height: 256}
        %h3= a.name
        %a{href: "#{a.developerURL}", class: "developer", target: "_blank"}= a.developer
